{% extends 'base.html.twig' %}

{% block body %}
    <div class="jumbotron">
        Hello
    </div>
    <div class="container">
        <ul class="list-group">
        {% for repository in repositories %}
            <li class="list-group-item">
                {{ repository.name }}
            </li>
        {% endfor %}
        </ul>
    </div>
{% endblock %}
